<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ESE Law</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="description" content="Avalon Admin Theme">
    <meta name="author" content="The Red Team">

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,700' rel='stylesheet' type='text/css'>

    <!--[if lt IE 10]>
        <script src="assets/js/media.match.min.js"></script>
        <script src="assets/js/placeholder.min.js"></script>
    <![endif]-->

    <link href="assets/fonts/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link href="assets/css/styles.css" type="text/css" rel="stylesheet">

    <link href="assets/plugins/jstree/dist/themes/avalon/style.min.css" type="text/css" rel="stylesheet">
    <link href="assets/plugins/codeprettifier/prettify.css" type="text/css" rel="stylesheet">
    <link href="assets/plugins/iCheck/skins/minimal/blue.css" type="text/css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries. Placeholdr.js enables the placeholder attribute -->
    <!--[if lt IE 9]>
        <link href="assets/css/ie8.css" type="text/css" rel="stylesheet">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
        <script type="text/javascript" src="assets/plugins/charts-flot/excanvas.min.js"></script>
        <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="assets/plugins/dropzone/css/dropzone.css" type="text/css" rel="stylesheet">

    </head>

    <body class="infobar-offcanvas">
        
        <header id="topnav" class="navbar navbar-inverse navbar-fixed-top clearfix" role="banner">
            <a href="index.html"><img src="images/logo-dark.png" alt="ESE Law Logo" class="logo"></a>
            <ul class="nav navbar-nav toolbar pull-right topnav" id="myTopnav">
                <li class="icon"><a href="javascript:void(0);" onclick="myFunction()">&#9776;</a></li>
                <li><a href="how-it-works.html">How It Works</a></li>
                <li><a href="resources.html">Resources</a></li>
                <li><a href="pricing.html">Pricing</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="register.html">Login / Sign-Up</a></li>
            </ul>
		</header>

        <div id="wrapper">
            <div id="layout-static">
                <div class="static-sidebar-wrapper sidebar-default">
                    <div class="static-sidebar">
                        <div class="sidebar">
							<div class="widget stay-on-collapse" id="widget-sidebar">
								<nav role="navigation" class="widget-body">
									<ul class="acc-menu">
                                        <li><a href="dashboard.html"><i class="fa fa-home"></i><span>Dashboard</span></a></li>
										<li class="active"><a href="javascript:;"><i class="fa fa-pencil"></i><span>Forms</span></a>
											<ul class="acc-menu" style="display: block;">
												<li class="active"><a href="press.html">Press</a></li>
												<li><a href="">Leading role</a></li>
												<li><a href="">Major significance</a></li>
												<li><a href="">Critical role</a></li>
												<li><a href="">High compensation</a></li>
												<li><a href="">Major commercial success</a></li>
											</ul>
										</li>
									</ul>
								</nav>
							</div>
						</div>
                    </div>
                </div>
                <div class="static-content-wrapper">
                    <div class="static-content">
                        <div class="page-content">
                            <div class="container-fluid">
                            	<div class="row">
	                        		<div class="col-md-12">
                                        <div class="panel panel-default" style="margin-top: 20px;">
                                            <div class="panel-body">
                                                <div class="tab-content">
                                                    <div class="tab-pane active">
                                                        <form action="#" id="basicwizard" class="form-horizontal">
                                                            <fieldset title="Guidelines">
                                                                <legend></legend>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <p>This category of evidence is for articles written about you, written by you, or featuring your work with editorial credit that have appeared in publications (either in print or online) with national or international circulations or readerships. We will be asking you to upload copies of these articles, as well as to provide information of the publications' circulations or readerships.</p>
                                                                        <p>Some things to keep in mind before you start:</p>
                                                                        <ul>
                                                                        <li><p style="font-weight: bold">Highlight or circle your name</p>
                                                                        <p>All articles provided for this category must mention you by name. Before you upload any article, it is important that you highlight or circle your name in the text of the article. If you're not sure how to highlight your name in a digital document, check out our <a href="#">resource on applications that let you highlight your name.</a></p></li>
                                                                        <li><p style="font-weight: bold">Screenshots</p>
                                                                        <p>Context is important for your evidence: that is, it is important that a person can tell where the text of an article comes from at a glance. For this reason, if you are providing articles from online publications, we suggest that you upload screenshots of these articles. If you don't know how to take a screenshot on your computer, see our <a href="#">resource for taking screenshots</a>.</p></li>
                                                                        <li><p style="font-weight: bold">Readership or circulation info</p>
                                                                        <p>Every article for this category must be accompanied by information regarding the circulation or readership figures for the publication in which it appeared. If you're not sure how to find this information, check out our <a href="#">resource for finding publication readership information</a>. Please not that Wikipedia cannot be used for this kind of documentation.</p></li>
                                                                        <li><p style="font-weight: bold">Translations</p>
                                                                        <p>As always, all documents not in English must be accompanied by translation, and this translation must be certified by the translator (though this translator needn't be a professional, you yourself cannot certify the translations for your own case). For more information regarding translations, check out our translations resource.</p></li>
                                                                        </ul>
                                                                        <p>We will begin by asking you to upload articles written about you, and after that we will ask you to upload any articles written by you, or featuring your work (such as your photography or designs) with editorial credit. You can upload up to ten articles about you and another ten articles by you.</p>
                                                                        <a href="#" class="btn btn-warning btn-block" style="width: 250px; margin-bottom: 20px; display: block; margin: 30px auto 30px auto;">My name has never appeared in print</a>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            <fieldset title="Articles written about you part 1">
                                                                <legend></legend>
                                                                <div class="row">
                                                                    <div class="col-md-12" style="margin-bottom: 20px;">
                                                                        <h3>Articles written about you</h3>
                                                                        <p>You can upload up to ten articles written about you. These articles can either be entirely about you, or they can mention you in the context of a larger event.</p>
                                                                        <p>We recommend that you begin with the articles that you think are most impressive and work your way down through articles that you think are less impressive. (If you're not sure about how impressive your articles are, relative to one another, just use your best judgment.) Before you upload an article, be sure to highlight your name.</p>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-md-12 form-label">Select document to upload</label>
                                                                    <div class="col-md-12">
                                                                        <div action="upload.php" method="post" enctype="multipart/form-data">
                                                                            <input type="file" name="fileToUpload" id="fileToUpload">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            <fieldset title="Articles written about you part 2">
                                                                <legend></legend>
                                                                <div class="form-group">
                                                                    <label class="col-md-12 form-label">What is the title of this article?</label>
                                                                    <div class="col-md-12 form-input">
                                                                        <input type="text" class="form-control">
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            <fieldset title="Articles written about you part 3">
                                                                <legend></legend>
                                                                <div class="form-group">
                                                                    <label class="col-md-12 form-label">What is the name of the publication in which this article appeared?</label>
                                                                    <div class="col-md-12 form-input">
                                                                        <input type="text" class="form-control">
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            <fieldset title="Articles written about you part 4">
                                                                <legend></legend>
                                                                <div class="form-group">
                                                                    <label class="col-md-12 form-label">When was this article published?</label>
                                                                    <div class="col-md-12 form-input">
                                                                        <input type="text" class="form-control">
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            <fieldset title="Articles written about you part 5">
                                                                <legend></legend>
                                                                <div class="form-group">
                                                                    <label class="col-md-12 form-label">What is the name of the article's author?</label>
                                                                    <div class="col-md-12 form-input">
                                                                        <input type="text" class="form-control">
                                                                        <div class="checkboxcontainer">
                                                                            <label class="checkbox-inline icheck">
                                                                                <input type="checkbox" id="inlinecheckbox1" value="option1"> No author given
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            <fieldset title="Articles written about you part 6">
                                                                <legend></legend>
                                                                <div class="form-group">
                                                                    <label class="col-md-12 form-label">Is this article in English?</label>
                                                                    <div class="col-md-12 form-input">
                                                                        <select class="form-control" id="uploadtranslation">
                                                                            <option value="yes">Yes</option>
                                                                            <option value="no">No</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group uploadtranslationbox" id="no" style="display: none;">
                                                                    <label class="col-md-12 form-label">Upload a translation of the article with certification <a class="btn btn-default-alt btn-xs" data-toggle="modal" href="#tipuploadtranslation">?</a></label>
                                                                    <div class="col-md-12 form-input">
                                                                        <a href="#" class="btn btn-default">Upload translation</a>
                                                                        <div class="checkboxcontainer">
                                                                            <label class="checkbox-inline icheck">
                                                                                <input type="checkbox" id="inlinecheckbox1" value="option1"> Come back to this later
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            <fieldset title="Articles written about you part 7">
                                                                <legend></legend>
                                                                <div class="form-group">
                                                                    <label class="col-md-12 form-label">Please upload evidence of the publication's circulation or readership <a class="btn btn-default-alt btn-xs" data-toggle="modal" href="#tipuploadevidence">?</a></label>
                                                                    <div class="col-md-12 form-input">
                                                                        <a href="#" class="btn btn-default">Upload evidence</a>
                                                                        <div class="checkboxcontainer">
                                                                            <label class="checkbox-inline icheck">
                                                                                <input type="checkbox" id="inlinecheckbox1" value="option1"> Come back to this later
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            <fieldset title="Articles written about you part 8">
                                                                <legend></legend>
                                                                <div class="form-group">
                                                                    <label class="col-md-12 form-label">Is this document in English?</label>
                                                                    <div class="col-md-12 form-input">
                                                                        <select class="form-control" id="uploadtranslation2">
                                                                            <option value="yes2">Yes</option>
                                                                            <option value="no2">No</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group uploadtranslationbox2" id="no2" style="display: none;">
                                                                    <label class="col-md-12 form-label">Upload a translation of the article with certification <a class="btn btn-default-alt btn-xs" data-toggle="modal" href="#tipuploadtranslation">?</a></label>
                                                                    <div class="col-md-12 form-input">
                                                                        <a href="#" class="btn btn-default">Upload translation</a>
                                                                        <div class="checkboxcontainer">
                                                                            <label class="checkbox-inline icheck">
                                                                                <input type="checkbox" id="inlinecheckbox1" value="option1"> Come back to this later
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            <fieldset title="Articles written about you part 9">
                                                                <legend></legend>
                                                                <div class="form-group">
                                                                    <label class="col-md-12 form-label">Upload more articles?</label>
                                                                    <div class="col-md-12 form-input">
                                                                        <a href="#" class="btn btn-success">Save and add more articles</a>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            <fieldset title="Articles written by you or featuring your work part 1">
                                                                <legend></legend>
                                                                <div class="row">
                                                                    <div class="col-md-12" style="margin-bottom: 20px;">
                                                                        <h3>Articles written by you or featuring your work</h3>
                                                                        <p>You can upload up to ten articles written by you or featuring your work for example, your photography or your designs) with editorial credit. This is the place where photographers, illustrators and designers will upload published materials in which they are given name credit.</p>
                                                                        <p>We recommend that you begin with the articles that you think are most impressive and work your way down through articles that you think are less impressive. (If you're not sure about how impressive your articles are, relative to one another, just use your best judgment.) Before you upload an article, be sure to highlight your name.</p>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-md-12 form-label">Select document to upload</label>
                                                                    <div class="col-md-12">
                                                                        <div action="upload.php" method="post" enctype="multipart/form-data">
                                                                            <input type="file" name="fileToUpload" id="fileToUpload">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            <fieldset title="Articles written by you or featuring your work part 2">
                                                                <legend></legend>
                                                                <div class="form-group">
                                                                    <label class="col-md-12 form-label">What is the name of the publication in which this article appeared?</label>
                                                                    <div class="col-md-12 form-input">
                                                                        <input type="text" class="form-control">
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            <fieldset title="Articles written by you or featuring your work part 3">
                                                                <legend></legend>
                                                                <div class="form-group">
                                                                    <label class="col-md-12 form-label">When was this article published?</label>
                                                                    <div class="col-md-12 form-input">
                                                                        <input type="text" class="form-control">
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            <fieldset title="Articles written by you or featuring your work part 4">
                                                                <legend></legend>
                                                                <div class="form-group">
                                                                    <label class="col-md-12 form-label">Is this article in English?</label>
                                                                    <div class="col-md-12 form-input">
                                                                        <select class="form-control" id="uploadtranslation3">
                                                                            <option value="yes3">Yes</option>
                                                                            <option value="no3">No</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group uploadtranslationbox3" id="no3" style="display: none;">
                                                                    <label class="col-md-12 form-label">Upload a translation of the article with certification <a class="btn btn-default-alt btn-xs" data-toggle="modal" href="#tipuploadtranslation">?</a></label>
                                                                    <div class="col-md-12 form-input">
                                                                        <a href="#" class="btn btn-default">Upload translation</a>
                                                                        <div class="checkboxcontainer">
                                                                            <label class="checkbox-inline icheck">
                                                                                <input type="checkbox" id="inlinecheckbox1" value="option1"> Come back to this later
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            <fieldset title="Articles written by you or featuring your work part 5">
                                                                <legend></legend>
                                                                <div class="form-group">
                                                                    <label class="col-md-12 form-label">Please upload evidence of the publication's circulation or readership <a class="btn btn-default-alt btn-xs" data-toggle="modal" href="#tipuploadevidence">?</a></label>
                                                                    <div class="col-md-12 form-input">
                                                                        <a href="#" class="btn btn-default">Upload evidence</a>
                                                                        <div class="checkboxcontainer">
                                                                            <label class="checkbox-inline icheck">
                                                                                <input type="checkbox" id="inlinecheckbox1" value="option1"> Come back to this later
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            <fieldset title="Articles written by you or featuring your work part 6">
                                                                <legend></legend>
                                                                <div class="form-group">
                                                                    <label class="col-md-12 form-label">Is this document in English?</label>
                                                                    <div class="col-md-12 form-input">
                                                                        <select class="form-control" id="uploadtranslation4">
                                                                            <option value="yes4">Yes</option>
                                                                            <option value="no4">No</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group uploadtranslationbox4" id="no4" style="display: none;">
                                                                    <label class="col-md-12 form-label">Upload a translation of the article with certification <a class="btn btn-default-alt btn-xs" data-toggle="modal" href="#tipuploadtranslation">?</a></label>
                                                                    <div class="col-md-12 form-input">
                                                                        <a href="#" class="btn btn-default">Upload translation</a>
                                                                        <div class="checkboxcontainer">
                                                                            <label class="checkbox-inline icheck">
                                                                                <input type="checkbox" id="inlinecheckbox1" value="option1"> Come back to this later
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            <fieldset title="Articles written by you or featuring your work part 7">
                                                                <legend></legend>
                                                                <div class="form-group">
                                                                    <label class="col-md-12 form-label">Upload more articles?</label>
                                                                    <div class="col-md-12 form-input">
                                                                        <a href="#" class="btn btn-success">Save and add more articles</a>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            <fieldset title="Congratulations">
                                                                <legend></legend>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <h3 class="congratulations">Congratulations you've reached the end of this category</h3>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            <input type="submit" class="finish btn-success btn" value="Save and return to categories home" />
                                                        </form>
                                                    </div>
                                                </div>           
                                            </div>
                                        </div>
	                        		</div>
	                        	</div>
                            </div> <!-- .container-fluid -->
                        </div> <!-- #page-content -->
                    </div>
                </div>
            </div>
        </div>

        <footer role="contentinfo">
            <div class="container clearfix">
                <div class="col-md-6 copyrightinfo">
                    Copyrights © 2016 ESE Law<br>
                    <div id="copyright-links">
                        <a href="terms-of-use.html">Terms of Use</a> / <a href="privacy-policy.html">Privacy Policy</a> / <a href="about-us.html">About Us</a>
                    </div>
                </div>
                <div class="col-md-6 contactinfo">
                    <div class="pull-right">
                        <a href="mailto:info@eselaw.com">info@eselaw.com</a> · +1 (917) 250-0517
                    </div>
                </div>
            </div>
        </footer>

        <!-- tipuploadtranslation Modal -->
        <div class="modal fade" id="tipuploadtranslation" tabindex="-1" role="dialog" aria-labelledby="tipuploadtranslation" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <p style="font-weight: bold;">What is a translation with certification?</p>
                        <p>It's probably not as complicated as you think. See our <a href="#">translation guidelines</a> resource for everything you need to know about how to properly format your translation and have it certified by a friend.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- tipuploadevidence Modal -->
        <div class="modal fade" id="tipuploadevidence" tabindex="-1" role="dialog" aria-labelledby="tipuploadtranslation" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <p style="font-weight: bold;">What is this?</p>
                        <p>The best evidence of a publication's circulation or readership is its media kit. For more information about how to find a publication's media kit, or for alternative sources of this kind of information that you can use in cases where a media kit is not available, see our resource for <a href="#">finding evidence of a publication's readership</a></p>
                        <p style="font-weight: bold;">Why are you asking me for this?</p>
                        <p>To be of value to your case, articles must be shown to have appeared in publications with national or international audiences.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

<!-- Load site level scripts -->

<script src="assets/js/jquery-1.10.2.min.js"></script> 							<!-- Load jQuery -->
<script src="assets/js/jqueryui-1.9.2.min.js"></script> 							<!-- Load jQueryUI -->
<script src="assets/js/bootstrap.min.js"></script> 								<!-- Load Bootstrap -->

<script src="assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script> 	<!-- Slimscroll for custom scrolls -->
<script src="assets/plugins/sparklines/jquery.sparklines.min.js"></script>  		<!-- Sparkline -->
<script src="assets/plugins/jstree/dist/jstree.min.js"></script>  				<!-- jsTree -->

<script src="assets/plugins/codeprettifier/prettify.js"></script> 				<!-- Code Prettifier  -->
<script src="assets/plugins/bootstrap-switch/bootstrap-switch.js"></script> 		<!-- Swith/Toggle Button -->

<script src="assets/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js"></script>  <!-- Bootstrap Tabdrop -->

<script src="assets/plugins/iCheck/icheck.min.js"></script>     					<!-- iCheck -->

<script src="assets/js/enquire.min.js"></script> 										<!-- Enquire for Responsiveness -->

<script src="assets/plugins/bootbox/bootbox.js"></script>					<!-- BOOTBOX -->

<script src="assets/js/application.js"></script>
<script src="assets/demo/demo.js"></script>
<script src="assets/demo/demo-switcher.js"></script>

<script src="assets/plugins/simpleWeather/jquery.simpleWeather.min.js"></script>
<script src="assets/js/responsivenav.js"></script>

<!-- End loading site level scripts -->
    
<!-- Load page level scripts-->
<script src="assets/plugins/form-validation/jquery.validate.min.js"></script>                   <!-- Validate Plugin -->
<script src="assets/plugins/form-stepy/jquery.stepy.js"></script>                               <!-- Stepy Plugin -->
<script src="assets/demo/demo-formwizard.js"></script>
<script src="assets/plugins/dropzone/dropzone.min.js"></script>

<script>
$(function() {

    $('#uploadtranslation').change(function(){
        $('.uploadtranslationbox').hide();
        $('#' + $(this).val()).show();
    });

});
$(function() {

    $('#uploadtranslation2').change(function(){
        $('.uploadtranslationbox2').hide();
        $('#' + $(this).val()).show();
    });

});
$(function() {

    $('#uploadtranslation3').change(function(){
        $('.uploadtranslationbox3').hide();
        $('#' + $(this).val()).show();
    });

});
$(function() {

    $('#uploadtranslation4').change(function(){
        $('.uploadtranslationbox4').hide();
        $('#' + $(this).val()).show();
    });

});
</script>
<!-- End loading page level scripts-->

    </body>
</html>